@media (max-width: 620px) {
    .pokemon-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-arrow {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pokemon-list {
        height:  480px;
    }

    .card .pkm-img {
        max-height: 230px;
    }

    .card .info .pkm-name {
        max-width: 50px;
        font-size: 18px;
    }

    .card .info .hp {
        font-size: 14px;
    }
}